.geodir-sidebar{

  .widget{
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none;

    &:last-child{
      margin-bottom: 20px;
    }
    .widgettitle{
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }

}

.geodir-sidebar-single{
  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    border-left: 1px solid #eee;
    top: 66px;
  }

}



.sidebar{
  .widgettitle{

  }
}

.fullwidth-sidebar-container{
  .sidebar{
    .geodir-post-slider,.geodir-viewport{
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

.whoop-single-main-content-new{
  .geodir-sidebar-single{

    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2px;
    &:before{
      display: none;
    }

  }
}