h3.widget-title,
h1.entry-title,
h2.entry-title,
h2.comments-title,
#comments h3#reply-title {
  font-size: 25px;
}

#searchform{
  input{
    display: inline-block;
  }
}

.sidebar {
  .widget{
    margin-bottom: 0;

    &:last-child{
      margin-bottom: 20px;
    }
  }
}